@charset "utf-8";

@font-face { font-family: 'ThirdRailDemo'; src: url('/static/fonts/ThirdRailDemo.ttf') format('truetype'); }

/* 멤버 목록 전체 래핑 */
#member-list-wrap { display: flex; }

/* 초상화 영역 */
#member-list-wrap #member-portrait-box { display: flex; position: relative; flex: 0 0 650px; flex-direction: row-reverse; }
#member-portrait-box .member-portrait { position: fixed; width: 650px; height: 100vh; background: bottom center/auto 95% no-repeat; }
#member-portrait-box .name-phrase-box { display: none; position: absolute; }
#member-portrait-box .name-phrase-box.active { display: block; position: fixed; bottom: 100px; }
#member-portrait-box .name-phrase-box .name-box { font-size: 72px; color: #000; line-height: 96px;font-weight: 900; text-shadow:-4px -4px 0 #FFF, 4px -4px 0 #FFF,-4px  4px 0 #FFF, 4px  4px 0 #FFF; }
#member-portrait-box .name-phrase-box .name-box span:first-of-type { font-size: 96px; } /* 이름: 첫글자 크게 */
#member-portrait-box .name-phrase-box .name-box.small { font-size: 46px !important; } /* 이름: 이름이 길 경우 글자 작게 */
#member-portrait-box .name-phrase-box .name-box.small span:first-of-type { font-size: 60px !important; } /* 이름: 첫글자 크게, 이름이 길 경우 글자 작게 */
#member-portrait-box .name-phrase-box .phrase-box { width: 577px; height: 51px; padding-left: 20px; background: url('/static/img/bg_member_phrase.png') center center/cover no-repeat; font-size: 24px; color: #C1C1C1; line-height: 51px;font-weight: 800; }

#member-portrait-box .name-phrase-box .name-box span:nth-child(3) { font-size: 24px!important; font-weight: 700; line-height: 24px; margin-left: 24px; text-shadow: -2px -2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF, 2px 2px 0 #FFF; } /*오너 이름*/
/*#member-portrait-box .name-phrase-box .name-box span:nth-child(3) { font-size: 24px!important; font-weight: 700; line-height: 24px; margin-left: 24px; text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; }*/

/* 캐릭터 목록 영역 */
#member-list-wrap .member-list-box { display: flex; flex: 1 1 auto;  }
.member-item-list { display: flex; flex: none; width: 157px; padding: 45px 25px 5px 15px; flex-direction: column; flex-wrap: wrap; transform: skewX(4deg); background-color: #000;}
.member-item-list:nth-of-type(odd) { padding-top: 118px; }
.member-item { display: flex; flex: none; position: relative; height: 262px; width: 157px; margin-bottom: 22px; flex-direction: column; cursor: pointer; overflow: hidden; border-radius: 0 20px 0 20px; }
.member-item > div { justify-content: center; align-items: center; text-align: center; }
.member-item .thumb-box { display: flex; flex: none; position: absolute; height: 216px; width: 175px; left: -8px; top: 0; border-radius: 0 20px 0 20%; background: no-repeat url(/static/img/bg_member_thumb.png) center center/cover #FFF; transform:skewX(-4deg); }
.member-item .name-box { display: flex; flex: none; position: absolute; width: 100%; height: 39px; bottom: 0; background: url('/static/img/bg_member_name.png') center center no-repeat; font-style: italic; }

/* 멤버 상세 전체 래핑 */
#member-view-wrap { display: flex; position: relative; width: 100%; height: 100vh; color: #000; }

#member-view-wrap #bg-wrap { display: flex; position: absolute; width: 100%; height: 100%; z-index: 0; padding-top: 60px; box-sizing: border-box; }
#bg-wrap > div { display: flex; flex: 1 1 auto; height: 100%; }
#bg-wrap .bg-portrait { background: top center/cover no-repeat; }

#member-view-wrap #info-phrase-wrap { display: flex; position: relative; width: 100%; height: 100%; z-index: 1; flex-direction: column; }
#info-phrase-wrap .phrase-wrap { display: flex; flex: 0 0 160px; position: relative; padding-right: 128px; flex-direction: row-reverse; align-items: center; }
.phrase-wrap .phrase-box { 
  width: 570px; height: auto; min-height: 92px; background-color: #FFF; align-content: center; padding: 10px 15px; box-sizing: border-box;
  text-align: center; font-size: 24px; font-weight: 600; line-height: 30px; word-break: auto-phrase;
}
.phrase-wrap .phrase-tail { position: absolute; right: 542px; bottom: 0px; width: 0px; height: 0px; border-style: solid; border-width: 0 30px 20px 130px; border-color: transparent transparent #FFF transparent; transform: rotate(325deg) translateY(-30px); z-index: -1;}
#info-phrase-wrap .info-wrap { display: flex; flex: 1 1 auto; }
.info-wrap > div { display: flex; flex: 1 1 auto; }
.info-wrap .info-box { display: flex; flex-direction: row-reverse; }
.info-wrap .info-box #info-paper {
  display: flex; flex: none; position: relative; width: 693px; height: 844px; padding: 160px 120px 68px 80px;
  background: top right/auto no-repeat;background-position-y: -8px; background-image: url('/static/img/bg_member_view_info.png');
  flex-direction: column; box-sizing: border-box; justify-content: space-between;
}

#info-paper .info-tab {     display: flex; flex: none; width: 100%; height: 100%; flex-direction: column; justify-content: space-between; }
#info-paper .info-tab .info-top-wrap { display: flex; flex: 0 0 165px; justify-content: space-between; }
#info-paper .info-tab .info-top-wrap .info-thumb-box { display: flex; flex: 0 0 120px; border: 1px solid #000; background: url('/static/img/bg_member_thumb.png') center / cover no-repeat; }
#info-paper .info-tab .info-top-wrap .info-thumb { width: 100%; height: 100%; background: center center/cover no-repeat; }
#info-paper .info-tab .info-top-wrap .info-basic-box { display: flex; flex: 0 0 330px; padding: 18px 0; }
table.info-basic { width: 100%; height: 100%; border-collapse: collapse; }
table.info-basic th, table.info-basic td { border: 1px solid #000; text-align: center; }

#info-paper .info-tab .info-bottom-wrap { display: flex; flex: 0 0 412px; }
#info-paper .info-tab .info-bottom-wrap .info-add-box { width: 100%; height: 100%; }
table.info-add { width: 100%; height: 100%; border-collapse: collapse; }
table.info-add th, table.info-add td { border: 1px solid #000; text-align: center; font-size: 16px; }
table.info-add td { vertical-align: top; text-align: left; padding: 18px; }
table.info-add th { font-weight: bold; }

table.info-add #rank { 
  font-size: 120px; font-family: 'ThirdRailDemo'; color:#B10000; font-weight:900; 
  background-image: url(/static/img/underline.png); background-repeat: no-repeat; background-position: center 90%;
  padding-bottom: 5%;
}

/* 페이지 탭 버튼 */
.info-wrap .info-box #info-tab-button-box { position: absolute; width: 76px; }
.info-wrap .info-box #info-tab-button-box .info-tab-button { position: absolute; width: 100%; height: 50px; cursor: pointer;}
.info-wrap .info-box #info-tab-button-box .info-tab-button#character-info-button { top: 61px; }
.info-wrap .info-box #info-tab-button-box .info-tab-button#character-item-button{ top: 140px; }
.info-wrap .info-box #info-tab-button-box .info-tab-button#character-relation-button { top: 265px; }

/* td 내부 스크롤 */
table.info-add .table-scroll-td { padding: 0px; }
table.info-add .table-scroll-td > div { height: 100%; padding: 18px; overflow-y: auto; box-sizing: border-box; }

/* 아이템 영역 */
#info-paper .info-tab .info-half-wrap { display: flex; flex: 0 0 296px;}
table.info-add .item-list-box .no-data { height: unset; text-align: center; margin-top: 20%; color: rgba(0, 0, 0, 0.3); }
table.info-add .item-list-box .inventory-list li { display: inline-block; }
table.info-add .item-list-box .inventory-list a { display: inline-block; }

/* 관계 영역 */
table.info-add#character-relation-table .relation-member-list .rm-memo	{ min-height: 137px;}
table.info-add#character-relation-table .relation-member-list > li			{ min-height:120px; margin-bottom: 20px; }
table.info-add#character-relation-table .relation-member-list .rm-like-style { position: relative; }
table.info-add#character-relation-table .relation-member-list ol {margin: 20px 0px 0px 0px; }
table.info-add#character-relation-table .name { padding: 5px; text-align: center; vertical-align: middle; }
table.info-add#character-relation-table .thumb { background: url('/static/img/bg_member_thumb.png') center / cover no-repeat; width: 120px; height: 160px; padding: 0px; border-bottom: 0px; } 

@media all and (min-width:640px) { 
  .mobile-member { display: none!important; }
}

@media all and (max-width:640px) { 
  .mobile-member { display: block; }
  .pc-member { display: none!important; }
  .fix-layout { padding-left: unset!important; }

  /* 멤버 리스트 */
  #member-list-wrap { justify-content: center; }
  #member-list-wrap #member-portrait-box { display: none; }
  #member-list-wrap .member-list-box { flex: unset; }
  #member-list-wrap .member-list-box .member-item-list { transform: unset; }
  .member-item .thumb-box { font-size: 16px; transform: unset; } 
  .member-item .name-box { font-size: 16px; } 

  /* 멤버 페이지 */
  #member-view-wrap #bg-wrap { display: none; }
  #scroll-layer { display: none; } /* 이후에 옷장 아이콘이랑 분리.. */

  /* 한마디 */
  #member-view-wrap #info-phrase-wrap { align-items: center; }
  #member-view-wrap #info-phrase-wrap .phrase-wrap { width: 96%; padding: 0px; margin: 40px 0 0 0; }
  #member-view-wrap #info-phrase-wrap .phrase-wrap .phrase-box { width: 100%; padding: 8px 10px; font-size: 20px; line-height: 24px; }
  #member-view-wrap #info-phrase-wrap .phrase-tail { right: 0px;}

  .info-wrap .info-box { justify-content: center; }
  .info-wrap .info-box #info-paper { width: unset; max-width: 100%; padding: 160px 20px 60px 20px; background-position-x: 40%;}
  #info-paper .info-tab .info-top-wrap .info-basic-box { flex: unset; padding-left: 10px;}

  /* 페이지 탭 버튼 */
  .info-wrap .info-box #info-tab-button-box { width: 90%; }
  .info-wrap .info-box #info-tab-button-box #tab-stickynote-top {
    background: url(/static/img/ch_stickynote_top.png) top center / auto no-repeat;
    height: 70px; top: -20px; position: relative; background-position-x: right; }
  .info-wrap .info-box #info-tab-button-box .info-tab-button { top: -20px; width: 70px; height: 60px;}
  .info-wrap .info-box #info-tab-button-box .info-tab-button#character-info-button { top: -20px; right: 0px; }
  .info-wrap .info-box #info-tab-button-box .info-tab-button#character-item-button{ top: -20px; right: 60px; }
  .info-wrap .info-box #info-tab-button-box .info-tab-button#character-relation-button { top: -20px; right: 145px; }
}